@font-face {
    font-family: Arboria;
    src: url("fonts/Type-Ø-Tones-Arboria-Black.otf") ;
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Arboria;
    src: url("fonts/Type-Ø-Tones-Arboria-Bold.otf") ;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url("fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: Karla;
    src: url("fonts/Karla-VariableFont_wght.ttff") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 115px;
    font-family: Karla;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    font-family: Arboria;
}

h1, h2 {
    margin-bottom: 24px
}

h6 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    letter-spacing: -0.02em;
}

a {
    color: #4C5863;
}

.base-container{
    display: flex;
    padding: 0;
}

.navbar>.container .navbar-brand {
    width: 125px;
    height: 16px;
    
    font-family: 'Arboria';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    /* semantic-color/text-icon/primary */
    color: #20272C;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-container 
{
    /* max-width: 263px;
    width: 20%; */
    flex: 0 0 263px;
    border-right: 1px solid #F3F6F8;
}

.top-header-container {

    display: flex;
    flex-flow: column;
    margin-right: 0px;
    margin-left: 0;
    background-color: #fff;
    padding: 0;
    width: 100%;
}

.logo-brand {
    /* Branding */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 100%;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;
}

.navbar-header-top {
    /* Frame 2671 */
    /* Auto layout */
    padding: 12px 24px;

    height: 69px;
    background: #FFFFFF;
}

.top-left-header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.top-right-header {
    width: 400px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.top-left-header>a {
    font-size: 16px;
    font-weight: 400;
}

.bs-sidebar .nav>li>a {
    font-family: Karla;
    font-style: normal;
    font-size: 14px;
}
@media  (max-width: 992px) {
    .base-container{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-container 
    {
        max-width: none;
        width: 100%;
    }

   

}

@media (min-width: 992px) {
    .bs-sidebar.affix {
        top: 135px;
    }
    .bs-sidebar.affix, .bs-sidebar.affix-bottom {
        width: 263px;
    }
}

/* navbar */
.navbar-nav > li > a
{
    padding-top: 16px;
    padding-bottom: 16px;
    color: #4C5863;
;
}


.navbar-header {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 12px 24px;

    height: 69px;

    background: #FFFFFF;
}

.navbar-header button {
    margin-left: auto;
}

.navbar-header.active > a
{
    color: #fff;
    background-color: #272727;
}

.bs-sidenav a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-default{
    color: #4C5863;
    border-bottom: 1px solid #F3F6F8;
    background-color: #fff;
}

.bs-sidebar .nav>.active>a, .bs-sidebar .nav>.active:hover>a, .bs-sidebar .nav>.active:focus>a {
    font-weight: normal;
    background-color: transparent;
    border-right: 1px solid #00DDB3;
    color: #00DDB3;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    color: #4C5863;
    background-color: #fff;
}

.navbar-default .dropdown-menu>li>a:hover, .navbar-default .dropdown-menu>.active>a, .navbar-default .dropdown-menu>.active>a:hover
{
    background-color: #F3F6F8;
    border-radius: 4px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    /* color: #4C5863; */
    color: #00DDB3;
    background-color: #fff;
    /* Body/03/Regular */

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: -0.02em;

    padding: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #00DDB3;
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 6px 24px 16px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a
{
    color: #4C5863;
    /* Body/03/Regular */

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: -0.02em;
    padding: 0;
}

.navbar-collapse:before, .navbar-collapse:after {
    display: none;
    content: none;
}

.navbar-nav {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.nav:before, .nav:after{
    table-layout: none;
    content: none;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 0px 1px rgba(61, 72, 83, 0.36), 0px 2px 8px rgba(61, 72, 83, 0.1), 0px 8px 48px rgba(243, 246, 248, 0.15);
}

.navbar-default .dropdown-menu>li>a, .navbar-default .dropdown-menu>li>a:focus{
    color: #4C5863;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #4C5863;
}
/* misc */

/* .main-content{
    flex-shrink: 12;
} */

.alpha_checkered {
    position: relative;
    background-color: white;
    background-size: 64px 64px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, white 50%, transparent 50%),
        linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .5) 50%);
}

.animation-container {
    width: fit-content;
    max-width: 100%;
    display: flex;
}

.table-plain {
    width: auto;
}
.table-plain tr, .table-plain td {
    border: none !important;
    background: none !important;
}

.matrix, .playground { 
    background-color: #fcfdff; border: 1px solid #ccc;
}
.playground {
    padding: 1em;
}
.schema-link {
    font-size:small;
    float: right;
    margin-left: 5px;
}

summary {
    display: list-item;
    cursor: pointer;
}

details {
    margin: 0.5em 0;
}

input[type="color"]
{
    padding: 0;
    width: 96px;
    height: 48px;
    margin-top: 1ex;
}

.playground input[type="color"] {
    height: 32px;
    margin: 0;
}

.color-preview {
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5ex;
    border-radius: 3px;
    height: 1.2em;
    width: 1.2em;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* syntax highlight */

.code-input, .highlighted-input, .code-frame, .cm-editor {
    background-color: #fcfdff;
    border: 1px solid #ccc;
}

.code-input, .highlighted-input, .highlighted-input * {
    font-family: Hack,Menlo,Monaco,Consolas,"Courier New",monospace;
    white-space: pre;
    font-size: small;
    color: #333;
    font-size: 14px;
}

.highlighted-input, .code-frame {
    position: relative;
    resize: vertical;
    overflow: auto;
    height: 128px;
}

.highlighted-input:focus-within, .code-frame:focus-within {
    outline: 2px solid #3daee9;
}

.highlighted-input textarea, .highlighted-input pre {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border: 0;
    overflow: auto;
    white-space: nowrap;

    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
}

.highlighted-input textarea {
    color: transparent;
    background: transparent;
    z-index: 1;
    resize: none;
    caret-color: black;
    white-space: pre;
    outline: none;
}

.highlighted-input pre {
    z-index: 0;
}
.highlighted-input code {
    background-color: transparent;
    padding: 0;
    background: none;
}

/* info box */

.info_box_trigger {
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
    margin-bottom: -1px;
    position: relative;
    top: -2px;
}

.info_box_trigger > * {
    position: relative;
    top: 2px;
}

.info_box_lottie {
    display: none;
}

.info_box_lottie {
    max-width: 300px;
    max-height: 300px;
    margin-top: 1.2em;
}

.info_box_content .description {
    white-space: pre-wrap;
}

/* embedded editors */

.keyframe-preview-container {
    display: flex;
    flex-flow: column;
}

.keyframe-preview-container canvas {
    border: 1px solid #ccc;
}

.keyframe-preview {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: relative;
    background-color: black;
    animation: keyframe-preview 3s infinite;
}

@keyframes keyframe-preview {
    0% {left: 0px;}
    50% {left: 176px;}
    100% {left: 0px;}
}

.gradient-preview {
    height: 32px;
}

.gradient-editor input
{
    vertical-align: middle;
    margin: 1ex;
    height: 48px;
}
