name: Release

on:
  push:
    tags:
        - '*'
    branches:
        - main

jobs:
  build:
    name: Publish Schema
    runs-on: ubuntu-latest
    steps:
        -
            uses: actions/checkout@v2
        -
            name: Setup
            run: |
                sudo apt update -q
                sudo apt install -yy python make
        -
            name: Build
            run: |
                make lottie.schema.json
        -
            name: Upload Schema
            if: ${{ contains(github.ref, '/tags/') }}
            uses: softprops/action-gh-release@v1
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                files: docs/schema/lottie.schema.json
                tag_name: ${{ github.ref }}
                overwrite: true
        -
            name: Upload Schema
            if: ${{ !contains(github.ref, '/tags/') }}
            uses: softprops/action-gh-release@v1
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                files: docs/schema/lottie.schema.json
                tag_name: latest
                overwrite: true
